### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml



### SASS ###
### Sass Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache


### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project



#DRUPAL RELATED
sites/*/settings.local.php
sites/*/settings.prod.php
sites/*/settings.preprod.php
sites/*/settings.staging.php
sites/*/clienv.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
